.advantages {
  margin-bottom: 50px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.advantages::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 100%;
    border: solid 1px $section-br-color;
    bottom: 0;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.advantages__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
  font-weight: 400;
  font-family: $font;
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.advantages__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 250px 250px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.advantages__item {
  position: relative;
  width: 280px;

  @media (min-width: $tablet-width) {
    height: 280px;
    margin-left: 0;
    width: 229px;
  }
}

.advantages__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: $btn-bg-color;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.advantages__item:nth-child(1)::before {
  content: "";
  position: absolute;
  background-image: url("/img/functional-food-photo-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    top: -2px;
  }
}

.advantages__item:nth-child(2)::before {
  content: "";
  position: absolute;
  background-image: url("/img/functional-food-photo-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    top: -2px;
  }
}

.advantages__item:nth-child(3)::before {
  content: "";
  position: absolute;
  background-image: url("/img/functional-food-photo-3.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    top: -2px;
  }
}

.advantages__item:nth-child(4)::before {
  content: "";
  position: absolute;
  background-image: url("/img/functional-food-photo-4.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    top: -2px;
  }
}

.advantages__text {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 80px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 100px;
    margin-left: 0;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item:nth-child(1) .advantages__text::before {
    content: "1";
    position: absolute;
    font-family: $font;
    font-weight: 400;
    color: $a-bg-color;
    font-size: 280px;
    line-height: 280px;
    top: -40px;
    right: 0;
    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item:nth-child(2) .advantages__text::before {
    content: "2";
    position: absolute;
    font-family: $font;
    font-weight: 400;
    color: $a-bg-color;
    font-size: 280px;
    line-height: 280px;
    top: -40px;
    right: 0;
    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item:nth-child(3) .advantages__text::before {
    content: "3";
    position: absolute;
    font-family: $font;
    font-weight: 400;
    color: $a-bg-color;
    font-size: 280px;
    line-height: 280px;
    top: -40px;
    right: 0;
    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item:nth-child(4) .advantages__text::before {
    content: "4";
    position: absolute;
    font-family: $font;
    font-weight: 400;
    color: $a-bg-color;
    font-size: 280px;
    line-height: 280px;
    top: -40px;
    right: 0;
    z-index: -1;
  }
}
