.catalog {
  overflow: hidden;
}

.catalog__title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 41px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-family: $font;
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 84px;
    margin-top: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 74px;
  }
}

.catalog__list {
  @include list-reset;
  display: grid;
  grid-template-columns: repeat(1, 280px);
  gap: 25px;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 324px);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    gap: 63px 80px;
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  align-items: center;
  gap: 17px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    justify-content: center;
    grid-template-columns: repeat(2, 125px);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 169px;
  }
}

.catalog__item:not(:last-child) {
  @media (min-width: $tablet-width) {
    background: linear-gradient(0deg, rgba(242, 242, 242, 1) 90%, rgba(255, 255, 255, 1) 53%);
  }
}

.catalog__item::after {
  content: "";
  position: absolute;
  width: 1000vw;
  border: solid 1px $hover-bg-color;
  top: -12px;
  left: -300px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.catalog__item--all-product {
  display: flex;
  flex-direction: column;
  gap: 0;
  position: relative;
}

.catalog__item--all-product::after {
  content: "";
  position: absolute;
  width: 1000vw;
  border: solid 1px $hover-bg-color;
  top: -5px;
  left: -300px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.catalog__item-wrapper {
  display: grid;
  grid-template-columns: 76px 64px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 125px);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 85px);
  }
}
