.container {
  margin: 0 auto;
  width: 320px;
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 34px 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 110px 0 110px;
  }
}

.container--location {
  display: flex;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container--header {
  @media (min-width: $tablet-width) {
    display: flex;
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
  }
}

.container--nutrition {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
  }
}


.container--additional-products {
  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    display: grid;
    grid-template-columns: 896px 245px;
    gap: 0 80px;
  }
}
