.fieldset__list {
  @include list-reset;
}

@media (min-width: $desktop-width) {
  .fieldset__list--contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -16px;
  }
}

.fieldset__list--checkbox {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 225px 195px;
    gap: 32px 123px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 325px 326px 323px 300px;
    gap: 0;
  }
}

.fieldset__item:not(:last-child) {
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }
}

.fieldset__item:disabled {
  opacity: 0.3;
}

.fieldset__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  font-family: $font;
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.fieldset__title--distance--width {
  width: 182px;

  @media (min-width: $tablet-width) {
    width: 516px;
  }
}

.fieldset__title--decoration {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  margin-top: 4px;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    padding-right: 40px;
    margin-left: -40px;
    padding-left: 40px;
  }
}

.fieldset__title--distance {
  margin-bottom: 35px;
  position: relative;
  z-index: 1;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.fieldset__title--distance::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: $btn-bg-color;
  width: 100vw;
  top: 16px;
  z-index: -1;

  @media (min-width: $tablet-width) {
    width: 1000vw;
    top: 27px;
    left: -400px;
  }
}

.fieldset__title-another {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
  }
}

.fieldset__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: $font;
  color: $text-color_4;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29px;
  }
}

.fieldset__item--email {
  position: relative;
}

.fieldset__item--phone {
  position: relative;
}

.fieldset__item--email:hover .fieldset__email-icon,
.fieldset__item--phone:hover .fieldset__phone-icon {
  color: $btn-bg-color;
}

.fieldset__item--email:focus .fieldset__email-icon,
.fieldset__item--phone:focus .fieldset__phone-icon {
  color: $btn-bg-color;
}

.fieldset__item--email:active .fieldset__email-icon,
.fieldset__item--phone:active .fieldset__phone-icon {
  color: $btn-bg-color;
}

.fieldset__item--email:disabled .fieldset__email-icon,
.fieldset__item--phone:disabled .fieldset__phone-icon {
  color: $error-form;
}

.fieldset__control--width-one:disabled,
.fieldset__control--width-two:disabled {
  border: 2px solid $error-form;
}

.fieldset__label--text {
  margin-left: 22px;


  @media (min-width: $tablet-width) {
    margin-left: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 35px;
    max-width: 203px;
    display: inline-block;
  }
}

.fieldset__label--text-another {
  width: 190px;
  text-align: left;
  display: inline-block;

  @media (min-width: $tablet-width) {
    min-width: 240px;
  }
}

.fieldset__control {
  padding: 12px;
  border: 1px solid $line-color;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: $font;
  color: $text-color_4;
  text-transform: uppercase;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29px;
  }
}

.fieldset__control--textarea {
  padding: 7px 0 45px 15px;
  box-sizing: border-box;
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 9px 0 15px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 9px 0 10px 20px;
  }
}

.fieldset__control--textarea:hover {
  border: 1px solid $mark-radio-color;
}

.fieldset__control--textarea:focus {
  border-color: $text-color_4;
  outline: 1px solid;
}

.fieldset__control--textarea:active {
  border-color: $text-color_4;
  outline: 1px solid;
}

.fieldset__label--radio {
  position: relative;
  margin-left: 29px;
}

.fieldset__label--checkbox {
  position: relative;
}

.fieldset__mark--radio {
  position: absolute;
  background-color: $bg-color;
  border-radius: 50%;
  content: "";
  width: 30px;
  height: 30px;
  top: -5px;
  left: -1px;
  border: 1px solid $line-color;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.fieldset__control:checked + .fieldset__mark--radio::before {
  content: "";
  position: absolute;
  background-color: $btn-bg-color;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  top: 8.5px;
  left: 8.5px;

  @media (min-width: $tablet-width) {
    width: 17px;
    height: 17px;
    top: 10.5px;
    left: 11.5px;
  }
}

.fieldset__control:hover + .fieldset__mark--radio {
  border: 1px solid $mark-radio-color;
}

.fieldset__control:focus + .fieldset__mark--radio {
  border-color: $text-color_4;
  outline: 1px solid;
}

.fieldset__control:active + .fieldset__mark--radio {
  border-color: $text-color_4;
  outline: 1px solid;
}


.fieldset__control:hover + .fieldset__mark--checkbox {
  border: 1px solid $mark-radio-color;
}

.fieldset__control:focus + .fieldset__mark--checkbox {
  border-color: $text-color_4;
  outline: 1px solid;
}

.fieldset__control:active + .fieldset__mark--checkbox {
  border-color: $text-color_4;
  outline: 1px solid;
}

.fieldset__mark--checkbox {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border-radius: 5px;
  top: 0;
  left: 0;
  border: 1px solid $line-color;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    border-radius: 0;
    width: 40px;
    height: 40px;
  }
}

.fieldset__control[type="checkbox"]:checked + .fieldset__mark--checkbox::before {
  content: "";
  position: absolute;
  background-image: url("../img/check-form.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 18px;
  height: 14px;
  top: 4px;
  left: 4px;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 19px;
    top: 9px;
    left: 9px;
  }
}

.fieldset__control--input-border {
  border: 1px solid $input-br-color;
  margin-left: 12px;
}

.fieldset__control--width-one {
  width: 215px;
  margin-left: 11px;

  @media (min-width: $tablet-width) {
    width: 550px;
  }

  @media (min-width: $desktop-width) {
    width: 493px;
  }
}

.fieldset__control--width-two {
  width: 198px;
  margin-left: 11px;

  @media (min-width: $tablet-width) {
    width: 529px;
  }

  @media (min-width: $desktop-width) {
    width: 474px;
  }
}

.fieldset__control--width-1 {
  position: relative;
  width: 213px;
  margin-left: 13px;

  @media (min-width: $tablet-width) {
    width: 548px;
  }

  @media (min-width: $desktop-width) {
    width: 492px;
  }
}

.fieldset__email-icon {
  position: absolute;
  top: 11px;
  right: 15px;

  @media (min-width: $tablet-width) {
    top: 13px;
    right: 20px;
  }

  @media (min-width: $desktop-width) {
    right: 15px;
  }
}

.fieldset__control--width-2 {
  position: relative;
  width: 196px;
  margin-left: 13px;

  @media (min-width: $tablet-width) {
    width: 527px;
  }

  @media (min-width: $desktop-width) {
    width: 472px;
  }
}

.fieldset__control--width-3 {
  width: 170px;

  @media (min-width: $tablet-width) {
    width: 495px;
  }

  @media (min-width: $desktop-width) {
    width: 437px;
    box-sizing: border-box;
  }
}

.fieldset__phone-icon {
  position: absolute;
  top: 11px;
  right: 15px;

  @media (min-width: $tablet-width) {
    top: 13px;
    right: 20px;
  }

  @media (min-width: $desktop-width) {
    right: 15px;
  }
}

.fieldset__control--input-border:hover {
  border: 1px solid $line-color;
}

.fieldset__control--input-border:focus {
  border-color: $text-color_4;
  outline: 1px solid;
}

.fieldset__control--input-border:active {
  border-color: $text-color_4;
  outline: 1px solid;
}

.fieldset__control--input-border:disabled {
  border: 1px solid $error-form;
}
