.fieldset__list {
  @include list-reset;
}

@media (min-width: $desktop-width) {
  .fieldset__list--contact {
    display: flex;
    justify-content: space-between;
  }
}

.fieldset__list--checkbox {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 225px 195px;
    gap: 32px 123px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1125px;
    justify-content: space-between;
    gap: 0;
  }
}

.fieldset__item:not(:last-child) {
  margin-bottom: 16px;
}

.fieldset__item:disabled {
  opacity: 0.3;
}

.fieldset__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  font-family: $font;
  color: $text-color;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.fieldset__title--distance--width {
  width: 182px;

  @media (min-width: $tablet-width) {
    width: 516px;
  }
}

.fieldset__title--decoration {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    padding-right: 40px;
    margin-left: -40px;
    padding-left: 40px;
  }
}

.fieldset__title--distance {
  margin-bottom: 35px;
  position: relative;
  z-index: 1;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.fieldset__title--distance::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: $btn-bg-color;
  width: 100vw;
  top: 16px;
  z-index: -1;

  @media (min-width: $tablet-width) {
    width: 1000vw;
    left: -400px;
  }
}

.fieldset__title-another {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
  }
}

.fieldset__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: $font;
  color: $text-color_4;
  text-transform: uppercase;
}

.fieldset__item--email {
  position: relative;
}

.fieldset__item--phone {
  position: relative;
}

.fieldset__label--text {
  margin-left: 15px;
}

.fieldset__control {
  padding: 15px;
  border: 1px solid $line-color;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: $font;
  color: $text-color_4;
  text-transform: uppercase;
  box-sizing: border-box;
}

.fieldset__control--textarea {
  padding: 15px 0 0 15px;
  box-sizing: border-box;
  width: 100%;
}

.fieldset__label--radio {
  position: relative;
}

.fieldset__label--checkbox {
  position: relative;
}

.fieldset__mark--radio {
  position: absolute;
  background-color: $bg-color;
  border-radius: 50%;
  content: "";
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  border: 1px solid $line-color;
}

.fieldset__control:checked + .fieldset__mark--radio::before {
  content: "";
  position: absolute;
  background-color: $btn-bg-color;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  top: 8.5px;
  left: 8.5px;
}

.fieldset__mark--radio:hover,
.fieldset__mark--checkbox:hover {
  border: 1px solid $mark-radio-color;
}

.fieldset__mark--checkbox {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border-radius: 5px;
  top: 0;
  left: 0;
  border: 1px solid $line-color;
  cursor: pointer;
}

.fieldset__control[type="checkbox"]:checked + .fieldset__mark--checkbox::before {
  content: "";
  position: absolute;
  background-image: url("../img/check-form.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 14px;
  top: 4px;
  left: 4px;
}

.fieldset__control--input-border {
  border: 1px solid $input-br-color;
  margin-left: 13px;
}

.fieldset__control--width-1 {
  width: 225px;

  @media (min-width: $tablet-width) {
    width: 568px;
  }

  @media (min-width: $desktop-width) {
    width: 510px;
    box-sizing: border-box;
  }
}

.fieldset__control--width-2 {
  width: 203px;

  @media (min-width: $tablet-width) {
    width: 546px;
  }

  @media (min-width: $desktop-width) {
    width: 488px;
    box-sizing: border-box;
  }
}

.fieldset__control--width-3 {
  width: 170px;

  @media (min-width: $tablet-width) {
    width: 513px;
  }

  @media (min-width: $desktop-width) {
    width: 455px;
    box-sizing: border-box;
  }
}

.fieldset__control--width-one {
  position: relative;
  width: 213px;
  margin-left: 13px;

  @media (min-width: $tablet-width) {
    width: 552px;
  }

  @media (min-width: $desktop-width) {
    width: 492px;
  }
}

.fieldset__email-icon {
  position: absolute;
  top: 11px;
  right: 15px;

  @media (min-width: $tablet-width) {
    top: 13px;
    right: 20px;
  }

  @media (min-width: $desktop-width) {
    right: 15px;
  }
}

.fieldset__email-icon:focus,
.fieldset__phone-icon:focus {
  color: $btn-bg-color;
}

.fieldset__email-icon:active,
.fieldset__phone-icon:active {
  color: $btn-bg-color;
}

.fieldset__email-icon:disabled,
.fieldset__phone-icon:disabled {
  color: $error-form;
}

.fieldset__control--width-two {
  position: relative;
  width: 196px;
  margin-left: 13px;

  @media (min-width: $tablet-width) {
    width: 535px;
  }

  @media (min-width: $desktop-width) {
    width: 472px;
  }
}

.fieldset__phone-icon {
  position: absolute;
  top: 11px;
  right: 15px;

  @media (min-width: $tablet-width) {
    top: 13px;
    right: 20px;
  }

  @media (min-width: $desktop-width) {
    right: 15px;
  }
}

.fieldset__control--input-border:hover {
  border: 1px solid $line-color;
}

.fieldset__control--input-border:focus {
  border: 2px solid $text-color_4;
}

.fieldset__control--input-border:disabled {
  border: 1px solid $error-form;
}
