.form {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form__fieldset--another {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 63px;
  }
}

.form__fieldset--distance {
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 570px;
  }
}

.form__fieldset--distance-width {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__wrapper--all {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-bottom: 58px;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-width) {
  .form__wrapper--tablet {
    display: grid;
    grid-template-columns: 225px 195px;
    align-items: center;
    gap: 0 109px;
    margin-bottom: 59px;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper--tablet {
    gap: 0 415px;
    margin-bottom: 99px;
  }
}

.form__button {
  padding: 10px 44px 10px 44px;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    width: 284px;
    padding: 14px 44px 14px 44px;
    font-size: 20px;
    line-height: 26px;
    margin-top: -12px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-top: 0;
  }
}

.form__text {
  text-align: center;
  margin-top: 21px;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-top: -21px;
    margin-bottom: 0;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.form__fieldset-border {
  position: relative;

  @media (min-width: $tablet-width) {
    border: 1px solid $input-br-color;
    width: 600px;
    padding: 23px 0 27px 27px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 27px;
  }
}

.form__fieldset-border::after {
  content: "";
  position: absolute;
  border: 1px solid $n-bg-color;
  width: 1000vw;
  top: -20px;
  left: -300px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__fieldset-border::before {
  content: "";
  position: absolute;
  width: 1000vw;
  bottom: -20px;
  left: -300px;
  border: 1px solid $n-bg-color;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
