.location {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.location--another-background {
  background-color: $a-bg-color;
}

.location__title {
  margin: 0;
  width: 140px;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font;
  color: $text-color_1;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 175px;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.location__link {
  display: block;
  width: 140px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: $text-color_4;

  @media (min-width: $tablet-width) {
    width: 188px;
    text-align: right;
    font-size: 16px;
    margin-top: 0;
    margin-right: 40px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-right: -34px;
  }
}

.location__link--right {
  @media (min-width: $tablet-width) {
    text-align: right;
    margin-top: -5px;
  }


  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.location__text {
  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-top: 19px;
  }
}

.location__image {
  width: 100%;
  object-fit: inherit;
}

.location iframe {
  display: block;
  width: 100%;
}
