.main-header {
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 50px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    min-height: 59px;
    margin-bottom: 110px;
  }
}

.main-header--border {
  border-bottom: 1px solid $n-bg-color;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.main-header-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    margin-right: 94px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 643px;
  }
}

.main-header-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .main-header__logo {
    margin-right: 13px;
  }
}
