.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $a-bg-color;
}

.main-footer__wrapper {
  margin: 40px 0;

  @media (min-width: $tablet-width) {
    margin: 96px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin: 84px 0 66px 0;
  }
}

.main-footer__logo-wrapper {
  margin-bottom: 38px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 128px;
    margin-bottom: 0;
    margin-right: 39px;
  }
}

.main-footer__list {
  @include list-reset;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;


  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 200px;
  }
}

.main-footer__list::after {
  content: "";
  position: absolute;
  width: 280px;
  border: solid 1px $n-bg-color;
  top: -23px;
}

.main-footer__list::before {
  content: "";
  position: absolute;
  width: 280px;
  border: solid 1px $n-bg-color;
  bottom: -23px;
}

@media (min-width: $tablet-width) {
  .main-footer__list::after,
  .main-footer__list::before {
    display: none;
  }
}

.main-footer__item:not(:last-child) {
  margin-right: 28px;
}

.main-footer__icon:hover {
  opacity: 0.8;
}

.main-footer__icon:focus {
  opacity: 0.6;
}

.main-footer__icon:active {
  opacity: 0.6;
}

.main-footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer__social-icon {
  color: $text-color_6;
}


.main-footer__social-icon:hover {
  color: $btn-bg-color;
}

.main-footer__social-icon:focus {
  color: $btn-bg-color;
}

.main-footer__social-icon:active {
  color: $btn-bg-color;
  opacity: 0.3;
}

.main-footer__developer-logo {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 168px;
  }
}

.main-footer__developer-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: $text-color_4;

  @media (min-width: $tablet-width) {
    margin-left: 6px;
  }
}

.main-footer__developer-link:hover {
  opacity: 0.8;
}

.main-footer__developer-link:focus {
  opacity: 0.6;
}

.main-footer__developer-link:active {
  opacity: 0.3;
}
