.main-header {
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 50px;
  }

  @media (min-width: $desktop-width) {
    min-height: 59px;
  }
}

.main-header--border {
  border-bottom: 1px solid $n-bg-color;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.main-header-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    margin-right: 94px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 580px;
  }
}

.main-header-item {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (min-width: $tablet-width) {
  .main-header__logo-images {
    display: none;
  }
}

.main-header__logo {
  margin-right: 0;
  position: relative;
}

@media (min-width: $tablet-width) {
  .main-header__logo::before {
    content: "";
    position: absolute;
    background-image: url("/img/logo-tablet.svg");
    width: 60px;
    height: 50px;
    top: -26px;
    left: -74px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo::before {
    content: "";
    position: absolute;
    background-image: url("/img/logo-desktop.svg");
    width: 70px;
    height: 59px;
    top: -35px;
    left: -74px;
  }
}
