.main-navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);

  @media (min-width: $tablet-width) {
    position: static;
    transform: translateX(0%);
    width: 478px;
  }

  @media (min-width: $desktop-width) {
    z-index: 5;
  }
}

.main-navigation.active {
  transform: translateX(0);
  z-index: 16;
  transition: transform 0.5s;
}

.main-navigation__list {
  @include list-reset;
  margin-top: 40px;
  padding: 22px 0;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0;
    padding: 0;
    background: none;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.main-navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-navigation__item:not(:last-child) {
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin-right: 33px;
    margin-bottom: 0;
  }
}

.main-navigation__item:last-child {
  margin-bottom: 24px;
}

.main-navigation__item::after {
  content: "";
  position: absolute;
  width: 100%;
  border: solid 1px $n-bg-color;
  top: -22px;
  left: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation__list:last-of-type .main-navigation__item:last-child {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-navigation__link {
  display: block;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font;
  text-decoration: none;
  color: $text-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 12px 0;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__link-color {
    color: $bg-color;
  }
}


@media (min-width: $tablet-width) {
  .main-navigation__link--current::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: $btn-bg-color;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__link--current::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: $bg-color;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation__link--current-border::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: $btn-bg-color;
  }
}
