.nutrition__item-wrapper {
  background-color: $a-bg-color;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 63px 53px 53px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 61px 55px 52px;
    margin-bottom: 71px;
  }
}

.nutrition__title {
  margin: 0;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  font-family: $font;
  color: $text-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-top: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.nutrition__title--pro {
  position: relative;
  margin-left: 47px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.nutrition__text {
  margin: 0;
  text-align: left;
  margin-left: 20px;
  margin-right: 33px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 38px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    font-size: 16px;
    line-height: 24px;
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    width: 457px;
  }
}

.nutrition__text::after {
  content: "";
  position: absolute;
  width: 240px;
  border: solid 1px $n-bg-color;
  bottom: -23px;
  left: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nutrition__link {
  display: block;
  font-size: 16px;
  line-height: 16px;
  font-family: $font;
  text-decoration: none;
  color: $text-color;
  text-transform: uppercase;
  margin-left: 20px;
  padding-bottom: 22px;
  margin-right: 15px;
  position: relative;
  width: 180px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    padding-bottom: 0;
  }
}

.nutrition__link:focus {
  opacity: 0.3;
}

.nutrition__link:active {
  opacity: 0.3;
}

.nutrition__link::after {
  content: "";
  background-image: url("../img/arrow.svg");
  background-size: 100% 100%;
  width: 24px;
  height: 12px;
  position: absolute;
  background-repeat: no-repeat;
  top: 2px;
  left: 100px;

  @media (min-width: $tablet-width) {
    top: 8px;
    left: 128px;
  }
}

.nutrition__link:hover::after {
  width: 32px;
}

.nutrition__link:focus::after {
  width: 32px;
}

.nutrition__link:active::after {
  width: 32px;
}

.nutrition__title--slim {
  position: relative;
}

.nutrition__title--slim::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 14px;
  width: 50px;
  height: 50px;
  background-color: $btn-bg-color;
  z-index: 0;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    top: -50px;
    left: unset;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    top: -50px;
    left: 0;
  }
}

.nutrition__title--slim::before {
  content: "";
  background-image: url("../img/photo-slim.svg");
  background-size: 100% 100%;
  width: 36px;
  height: 50px;
  position: absolute;
  background-repeat: no-repeat;
  top: 10px;
  left: 20px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 197px;
    top: -59px;
    left: unset;
    right: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    top: -50px;
    left: 15px;
  }
}

.nutrition__title--pro::after {
  content: "";
  position: absolute;
  top: 16px;
  left: -26px;
  width: 50px;
  height: 50px;
  background-color: $btn-bg-color;
  z-index: 0;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    top: -50px;
    left: unset;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    top: -40px;
    left: 0;
  }
}

.nutrition__title--pro::before {
  content: "";
  background-image: url("../img/photo-pro.svg");
  background-size: 100% 100%;
  width: 67px;
  height: 28px;
  position: absolute;
  background-repeat: no-repeat;
  top: 25px;
  left: -34px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 280px;
    height: 112px;
    top: -16px;
    left: unset;
    right: -35px;
  }

  @media (min-width: $desktop-width) {
    width: 145px;
    height: 56px;
    top: -10px;
    left: -35px;
  }
}
