.product__subtitle {
  margin: 0;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font;
  color: $text-color_2;
  grid-column: 1 / 3;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 23px;
    margin-right: 23px;
  }
}

.product__text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $text-color_4;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 140px);
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
  }
}

.product__text--border::after {
  @media (min-width: $tablet-width) {
    content: "";
    width: 250px;
    height: 1px;
    position: absolute;
    bottom: -8px;
    left: 0;
    background-color: $line-color;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}

.product__text--location {
  text-align: right;
}

.product__link {
  display: grid;
  justify-items: center;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
  }
}

.product__button {
  display: grid;
  grid-column: span 2;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 54px;
  }
}

.product__subtitle--all-product {
  margin: 0;
  margin-bottom: 8px;
  margin-top: 49px;
  text-transform: uppercase;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 131px;
    width: 134px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 168px;
  }
}


.product__text--all-product {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;

    br {
      display: block;
    }
  }
}

.product__button--all-cards {
  background-color: $a-bg-color;
  color: $text-color_4;
  padding: 10px 95px;

  @media (min-width: $desktop-width) {
    padding: 10px 54px;
  }
}

.product__button--all-cards:hover {
  background-color: $hover-bg-color;
}

.product__button--all-cards:focus {
  background-color: $hover-bg-color;
}

.product__button--all-cards:active {
  background-color: $hover-bg-color;
}
