.promo {
  color: $bg-color;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 800px;
  }

  @media (min-width: $desktop-width) {
    min-height: 530px;
  }
}

.promo__wrapper {
  position: relative;
  z-index: 1;
  top: 0;
  right: 0;
}

.promo__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 302px;
  background-color: $btn-bg-color;
  z-index: 4;
  opacity: 0.85;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    top: -206px;
    left: 722px;
    width: 720px;
    height: 694px;
  }
}

.promo__wrapper::after {
  content: "";
  background-image: url("/img/photo-cat-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 302px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    top: -206px;
    left: 722px;
    width: 720px;
    height: 694px;
  }
}

.promo__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: $font;
  position: absolute;
  z-index: 4;

  @media (min-width: $tablet-width) {
    position: static;
    color: $text-color;
    font-size: 60px;
    line-height: 60px;
    width: 420px;
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 100px;
    text-align: left;
  }
}

.promo__title::before {
  content: "";
  background-image: url("/img/chicken-food-cats.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 167px;
  left: 20px;
  width: 280px;
  height: 270px;
  z-index: 3;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    top: 230px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    top: -57px;
    left: 591px;
    z-index: 4;
  }
}

.promo__text {
  margin: 0;
  font-family: $font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  position: absolute;
  z-index: 4;
  top: 123px;
  right: 60px;

  @media (min-width: $tablet-width) {
    position: static;
    font-size: 20px;
    line-height: 20px;
    color: $text-color;
    margin-bottom: 50px;
    margin-left: 100px;
  }
}

.promo__button {
  margin-left: 20px;
  margin-top: 430px;

  @media (min-width: $tablet-width) {
    padding: 14px 26px 14px 26px;
    position: absolute;
    z-index: 2;
    margin-top: 25px;
    margin-left: 100px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}
